* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Supprimer tous les styles par défaut des boutons */
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
    all: unset;
}

.h1-tache {
    z-index: 5;
    text-align: center;
    padding: 20px;
    position: fixed;
    width: 100vw;
    box-shadow: -1px 20px 20px rgb(255, 255, 255);
    background: rgba(255, 254, 254, 0.9);
}

.btn-desktop-modifier {
    display: none;
}

img {
    width: 30px;
}

.liste-tache {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    padding: 100px;

    > li {
        /* height: 50px; */
        padding: 10px;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: -1px 5px 7px rgba(0, 0, 0, 0.205);
        width: 90vw;
    }

    > img {
        position: relative;
        top: -15px;
    }
}

.section-action-liste {
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}

.derouler-arrow {
    position: absolute;
    margin-top: 60px;
    animation: deroule 5s ease-in-out infinite;
}

.display {
    display: none;
    transition: 500ms;
}

.section-btn-ajouter {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    text-align: center;
    box-shadow: -1px -20px 20px rgb(255, 255, 255);
    background: rgba(255, 254, 254, 0.9);
}
.btn-ajouter {
    z-index: 5;
    padding: 10px;
    > img {
        width: 20%;
        animation: rotation 1500ms ease-in-out;
        /* background: rgba(7, 7, 7, 0.61);
        border-radius: 100%; */
    }
}

.footer-blur {
    z-index: 3;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 100px;
}

.blur {
    filter: blur(10px);
    transition: 500ms;
}

.modale {
    transition: 500ms;
    position: fixed;
    width: 100vw;
    height: 75vh;
    padding: 20px;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;

    > article {
        transition: 2s;
        box-shadow: 0px 5px 10px black;
        transition: 500ms;
        width: 80%;
        height: 100%;
        background-color: aliceblue;
        border-radius: 15px;
        padding: 10px;
    }
}

@keyframes rotation {
    from {
        transform: rotate(-1900deg);
    }
    to {
        transform: rotate(0deg);
    }
}

@keyframes deroule {
    from {
        transform: translateY(3px);
    }
    to {
        transform: translateY(0px);
    }
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translate(200px);
    }
    to {
        visibility: visible;
        opacity: 1;
        transform: translate(0px);
    }
}
