.form-login {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;

  label {
    input {
      height: 40px;
      width: 300px;
    }
  }
}

.p-input {
  text-align: start;
  width: auto;
  padding: 10px;
  position: absolute;
  transition: 300ms;
}

.p-input-focus {
  padding: 0 5px;
  margin-top: -10px;
  background-color: white;
  width: min-content;
  display: inline-block;
  overflow-wrap: break-word;
  white-space: nowrap;
  margin-left: 10px;
  transition: 300ms;
}

.btn-login {
  cursor: pointer;
}
